.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(14, 13, 13, 0.72);
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 5px;
    margin-top: 30px;
    backdrop-filter: blur(3px);
}

.head{
    color: aliceblue;
    font-family: "roboto";
    font-size: 30px;
    margin-bottom: 10px;
}

.password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

.username{
    display: flex;
    flex-direction: column;
    align-items: flex-start;       
}
.Email{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 305px;
    height: 30px;
    background-color: #E50914;  
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}
.name{
    font-family: "roboto";
    font-size: 20px;
    color: rgb(241, 236, 236);
    padding-bottom: 15px;

}
.email{
    font-family: "roboto";
    font-size: 20px;
    color: rgb(241, 236, 236);
    padding-bottom: 15px;
}

.inName{
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 27px;
    background-color: rgb(17, 16, 16);
    font-family: "roboto";
    font-size: 15px;
    color: antiquewhite;
    border-bottom: inset;
    outline: none;
    cursor:text;
}
.inEmail{
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 27px;
    background-color: rgb(17, 16, 16);
    font-family: "roboto";
    font-size: 15px;
    color: antiquewhite;
    border-bottom: inset;
    outline: none;
    cursor:text;
}

.background{
    background-image: url("../../assets/wp1917119-netflix-wallpapers.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    animation: moveBackground 10s linear infinite;
}
@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position:  0% 0%;
    }
}

/* .loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.pass{
    font-family: "roboto";
    font-size: 20px;
    color: rgb(245, 240, 240);
    padding-top: 10px;
    padding-bottom: 15px;
}

.inPass{
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 27px;
    background-color: rgb(17, 16, 16);
    font-family: "roboto";
    font-size: 15px;
    color: aliceblue;
    border-bottom: inset;
    outline: none;
    cursor: text;
}
/* .login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
